ul{
	background-color: #F5A9BC;
	font-family: arial;
}
li {
	display: inline-block;
	padding: 20px;
	list-style: none;
}

a{
	text-decoration: none;
	color: white;
	padding: 10px;
}

a:hover{
	color: #A9F5A9;

}

span{
	color: #FA5882;
	margin: 0 100px;
}

